* {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  color: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #c7c7c7;
}

.wrap {
  background-color: #fff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 55px 5px 20px 5px;
  margin: 0 0 20px 0;
  background-color: #1a1a1a;
}
.header div {
  display: flex;
}
.header ul {
  display: flex;
}
.header li {
  display: flex;
}
.header header {
  display: flex;
}
.header footer {
  display: flex;
}
.header main {
  display: flex;
}
.header section {
  display: flex;
}
.header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header div div {
  display: flex;
}
.header div ul {
  display: flex;
}
.header div li {
  display: flex;
}
.header div header {
  display: flex;
}
.header div footer {
  display: flex;
}
.header div main {
  display: flex;
}
.header div section {
  display: flex;
}
.header img {
  width: 45%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0px black;
}
.header h1 {
  color: white;
  letter-spacing: 3px;
  font-size: 100%;
  margin: 0 0 5px 0;
}
.header h2 {
  text-align: center;
  letter-spacing: 3px;
  color: white;
  font-size: 80%;
  margin: 0 0 10px 0;
}
.header p {
  color: #afafaf;
  font-size: 75%;
  text-align: center;
}
.header div {
  padding: 10px 0 10px 3px;
  width: 55%;
}
.header h3 {
  font-weight: normal;
  display: inline;
  letter-spacing: 2px;
  font-size: 110%;
  color: #00ff0d;
}
.header h3:first-of-type {
  color: #008cff;
}
.header section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0 0 0;
}
.header section div {
  display: flex;
}
.header section ul {
  display: flex;
}
.header section li {
  display: flex;
}
.header section header {
  display: flex;
}
.header section footer {
  display: flex;
}
.header section main {
  display: flex;
}
.header section section {
  display: flex;
}
.header section img {
  width: 20px;
  height: 20px;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  margin: 0 2px 0 2px;
}
.header span {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: white;
  font-size: 80%;
}

.decoration-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.decoration-wrap div {
  display: flex;
}
.decoration-wrap ul {
  display: flex;
}
.decoration-wrap li {
  display: flex;
}
.decoration-wrap header {
  display: flex;
}
.decoration-wrap footer {
  display: flex;
}
.decoration-wrap main {
  display: flex;
}
.decoration-wrap section {
  display: flex;
}

.line {
  height: 2px;
  width: 40%;
  background-color: #ffbb00;
}
.line P {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  letter-spacing: 6px;
  color: white;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  border: 2px solid #2c2c2c;
  background-color: #fff;
}

.checkOut {
  text-align: center;
  width: 100%;
  font-size: 110%;
  color: #1d1d1d;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 20px 0 20px 0;
  box-shadow: 1px 1px 10px 2px rgba(65, 65, 65, 0.5);
  background-color: white;
  padding: 10px 0 0 0;
}
.project div {
  display: flex;
}
.project ul {
  display: flex;
}
.project li {
  display: flex;
}
.project header {
  display: flex;
}
.project footer {
  display: flex;
}
.project main {
  display: flex;
}
.project section {
  display: flex;
}
.project img {
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.44);
}
.project h1 {
  font-size: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}
.project div {
  width: 100%;
}
.project section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project section div {
  display: flex;
}
.project section ul {
  display: flex;
}
.project section li {
  display: flex;
}
.project section header {
  display: flex;
}
.project section footer {
  display: flex;
}
.project section main {
  display: flex;
}
.project section section {
  display: flex;
}

.projectWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.projectWrap div {
  display: flex;
}
.projectWrap ul {
  display: flex;
}
.projectWrap li {
  display: flex;
}
.projectWrap header {
  display: flex;
}
.projectWrap footer {
  display: flex;
}
.projectWrap main {
  display: flex;
}
.projectWrap section {
  display: flex;
}

.tag {
  padding: 4px;
  background-color: blue;
  color: #fff;
  font-size: 60%;
  border-radius: 2px;
  margin: 3px;
}

.dep {
  color: #636363;
  font-size: 60%;
  margin: 1px;
}

.description {
  margin: 5px 0 5px 0;
  font-size: 85%;
  text-align: center;
}

.projectFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #161616;
}
.projectFooter div {
  display: flex;
}
.projectFooter ul {
  display: flex;
}
.projectFooter li {
  display: flex;
}
.projectFooter header {
  display: flex;
}
.projectFooter footer {
  display: flex;
}
.projectFooter main {
  display: flex;
}
.projectFooter section {
  display: flex;
}

.view {
  padding: 6px;
  margin: 8px 10px 5px 10px;
  font-size: 60%;
  width: 100px;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.1s linear all;
}

.online {
  color: #00c3ff;
  border: 1px solid #00c3ff;
}
.online:hover {
  color: #fff;
  background-color: #00c3ff;
}

.github {
  color: #00ff0d;
  border: 1px solid #00ff0d;
}
.github:hover {
  color: #fff;
  background-color: #00ff0d;
}

footer {
  padding: 5px;
  margin: 80px 0 0 0;
  background-color: #1f1f1f;
  letter-spacing: 1px;
}
footer p {
  font-size: 70%;
  color: white;
}
footer a {
  color: #00f7ff;
}

@media (min-width: 481px) {
  .decoration-wrap, .two {
    top: 45px;
  }

  .two {
    top: -35px;
  }

  .header {
    padding-top: 85px;
    margin: 0 0 30px 0;
  }
  .header h1 {
    font-size: 120%;
    margin: 0 0 10px 0;
  }
  .header h2 {
    font-size: 100%;
    margin: 0 0 15px 0;
  }
  .header p {
    font-size: 90%;
  }
  .header div {
    padding: 10px 0 10px 3px;
  }
  .header b {
    font-size: 120%;
  }
  .header section {
    margin: 15px 0 0 0;
  }
  .header section img {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .checkOut {
    text-align: center;
    width: 100%;
    font-size: 120%;
    color: #1d1d1d;
    margin: 0 0 30px 0;
  }

  .project h1 {
    font-size: 120%;
    margin: 10px 0 5px 0;
  }

  .tag {
    padding: 6px;
    color: #fff;
    font-size: 76%;
  }

  .dep {
    font-size: 85%;
    margin: 5px 3px 1px 3px;
  }

  .description {
    margin: 10px 0 10px 0;
    font-size: 100%;
  }

  .view {
    font-size: 80%;
    width: 35%;
  }

  .online, .github {
    border-width: 0 0 2px 0;
  }

  footer {
    padding: 10px;
  }
  footer p {
    font-size: 80%;
  }
}
@media (min-width: 769px) {
  .line {
    height: 2px;
    width: 40%;
  }
  .line P, .line a {
    font-size: 130%;
    top: -25px;
    letter-spacing: 6px;
  }

  .header {
    margin: 0 0 40px 0;
  }
  .header h1 {
    font-size: 150%;
    margin: 0 0 13px 0;
  }
  .header h2 {
    font-size: 120%;
    margin: 0 0 18px 0;
  }
  .header p {
    font-size: 100%;
  }
  .header b {
    font-size: 130%;
  }
  .header section {
    margin: 15px 0 0 0;
  }
  .header section img {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 8px;
  }

  .checkOut {
    font-size: 140%;
    margin: 0 0 40px 0;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px auto 50px auto;
  }
  .project div {
    display: flex;
  }
  .project ul {
    display: flex;
  }
  .project li {
    display: flex;
  }
  .project header {
    display: flex;
  }
  .project footer {
    display: flex;
  }
  .project main {
    display: flex;
  }
  .project section {
    display: flex;
  }
  .project h1 {
    font-size: 120%;
  }
  .project img {
    width: 50%;
  }

  .projectFooter {
    margin: 10px 0 0 0;
  }

  .projectWrap {
    width: 50% !important;
  }

  .dep {
    font-size: 80%;
  }

  .description {
    margin: 5px 0 0 0;
    font-size: 100%;
  }

  .view {
    font-size: 100%;
    font-size: 80%;
    margin: 5px 6px 5px 6px;
  }
}
@media (min-width: 1025px) {
  .line {
    height: 2px;
    width: 40%;
  }
  .line P, .line a {
    font-size: 150%;
    top: -30px;
    letter-spacing: 8px;
  }

  .logo {
    font-size: 170%;
    width: 25%;
  }
  .logo i {
    font-size: 110%;
  }

  .header {
    margin: 0 0 40px 0;
  }
  .header h1 {
    font-size: 170%;
    margin: 0 0 13px 0;
  }
  .header h2 {
    font-size: 150%;
    margin: 0 0 18px 0;
  }
  .header p {
    font-size: 100%;
  }
  .header b {
    font-size: 130%;
  }
  .header section {
    margin: 15px 0 0 0;
  }
  .header section img {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 8px;
  }

  .checkOut {
    font-size: 170%;
    margin: 0 0 40px 0;
  }

  .project {
    margin: 50px auto 50px auto;
  }
  .project h1 {
    font-size: 130%;
    margin: 0 0 13px 0;
  }
  .project section {
    margin: 5px 0 5px 0;
  }

  .tag {
    padding: 8px;
    color: #fff;
    font-size: 80%;
    margin: 1px 5px 1px 5px;
  }

  .dep {
    font-size: 70%;
    margin: 1px 5px 1px 5px;
  }

  .description {
    margin: 5px 0 0 0;
    font-size: 100%;
  }

  .view {
    font-size: 70%;
  }

  .about-section {
    width: 80%;
    margin: 80px auto 80px auto;
  }
  .about-section span {
    width: 3px;
    left: -10px;
  }

  .about-headline {
    font-size: 280%;
    margin: 0 0 13px 0;
  }

  .about-p {
    font-size: 100%;
    line-height: 28px;
  }

  footer {
    padding: 20px;
  }
  footer p {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
